main {
    margin: 10px 30px;
}

#page {
    flex-grow: 1;
}

h1 {
    color: #323131;
}

p, ul {
    margin-left: 20px;
}

#how-to ol li {
    margin: 7px 0;
}

code {
    padding: 2px;
    font-size: 13pt;
    background: #DDD;
    color: #555;
    border-radius: 0.3em;
}
